.main__inner__content {
    width: 50%;
}

.name-text,
.short-bio-text,
.welcome-text {
    font-weight: 400;
}

.name-text {
    font-size: 32px;
}

.short-bio-text {
    margin-top: 10px;
}

.welcome-text {
    margin-top: 20px;
}


.main__inner {
    padding: 1vh 5vw;
    position: relative;
    top: 50px;
    height: 60vh;
    border-radius: 15px;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    justify-content:space-around;
}

.my-photo {
    width: 330px;
    border-radius: 50%;
}
.hello-text{
    color: #cccccc;
}

@media (max-width: 990px) {
    .my-photo {
        width: 250px;
    }
}

@media (max-width: 850px) {
    .main__inner {
        height: max-content;
        max-height: min-content;
        align-items: center;
        flex-direction: column;
    }

    .section__photo {
        order: -1;
    }

    .main__inner__content {
        width: 100%;
    }
}

@media (max-width: 570px) {
    .main {
        height: max-content;
    }
}