.main {
    /* background-image: url('../images/header-background.jpg'); */
    height:85vh;
    /* background-size: cover; */
}

.main-background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    /* background-color: rgb(52, 52, 52, 0.6); */
    /* background-image: linear-gradient(rgb(233, 253, 255),transparent); */
}

.main__inner__content {
    width: 50%;
}

.name-text,
.short-bio-text,
.welcome-text {
    font-weight: 400;
}

.name-text {
    font-size: 32px;
}

.short-bio-text {
    margin-top: 10px;
}

.welcome-text {
    margin-top: 20px;
}
.main__inner{
    /* border: 1px solid red; */
    display: flex;
    align-items: centert;
    gap: 10px;
    justify-content: space-around;
}
.my-photo{
    width: 330px;
    border-radius: 50%;
}

@media (max-width: 990px){
    /* .main__inner{
        flex-direction: column;
    } */
    .my-photo{
        width: 250px;
    }
}

@media (max-width: 800px){
    .main__inner{
        align-items: center;
        flex-direction: column;
    }
    .section__photo{
        order: -1;
    }
    .main__inner__content{
        width: 100%;
    }
}
@media (max-width: 570px){
    .main{
        height: max-content;
    }
}