*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    /* background-image: url('images/header-background.jpg'); */
    background-size: cover;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__top {
    position: fixed;
    width: 80vw;
    height: 72px;
    background-color: white;
    border: 1px solid gray;
    padding: 10px 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.nav__header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    li {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
        a {
            text-decoration: none;
            color: rgb(81, 77, 77);
        }
    }
}
.social-menu-link{
    margin: 0 10px;
}
.main{
    height: 85vh;
    background-image: url('images/header-background.jpg');
    background-size: cover;
}