* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    height: max-content;
    display: flex;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.header__top {
    position: relative;
    width: 80vw;
    padding: 10px 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.nav__header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;

    li {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: rgb(56, 194, 245);
                text-decoration: underline;
            }
        }
    }
}

.social-menu {
    a+a {
        margin-left: 10px;
    }
}

.social-menu-link {
    img {
        width: 25px;
    }
}

.burger-menu {
    display: none;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
}

.footer {
    margin-top: auto;
    padding: auto;
    width: 100%;
}

.footer__content {
    justify-content: center;
    width: 100vw;
    margin: auto;
    display: flex;
    margin-bottom: 5px;

    a+a {
        margin-left: 20px;
    }
}

.footer__content_top {
    margin-top: 40px;
}


.footer-link-img {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: rgb(43, 43, 43);
    }
}

.footer-img {
    width: 15px;
}

@media (max-width: 800px) {
    .nav-menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .nav-menu.active {
        padding: 10px;
        background-color: rgb(60, 60, 60);
        /* border: 1px solid red; */
        border-radius: 5px;
        top: 50px;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        z-index: 50;
        height: 50vh;
        width: 60vw;
        font-size: 30px;
        gap: 1vh;
    }

    .social-menu {
        display: none;
    }

    .main__inner {
        flex-direction: column;
    }

    .section__photo {
        order: -1;
    }
}

@media (min-width: 1800px) {
    .header__top-title {
        font-size: 35px;
    }

    .nav-menu {
        font-size: 25px;
    }
    .footer-link-img{
        width: 35px;
        height: auto;
    }
    .footer-img{
        width: 20px;
        height: auto;
    }
    .footer__content{
       p {
        font-size: 20px;
       }
    }
}