* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.header__top {
    position: relative;
    width: 80vw;
    padding: 10px 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.nav__header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;

    li {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;

        a {
            text-decoration: none;
            color: white;

            &:hover {
                color: rgb(56, 194, 245);
                text-decoration: underline;
            }
        }
    }
}

.social-menu {
    a+a {
        margin-left: 10px;
    }
}

.social-menu-link {
    img {
        width: 25px;
    }
}

.burger-menu {
    display: none;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
}

@media (max-width: 800px) {
    .nav-menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .nav-menu.active {
        padding: 10px;
        background-color: rgb(60, 60, 60);
        /* border: 1px solid red; */
        border-radius: 5px;
        top: 50px;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        z-index: 50;
        /* Show the menu when it's active */
    }

    .social-menu {
        display: none;
    }

    .main__inner {
        flex-direction: column;
    }

    .section__photo {
        order: -1;
    }
}